.header {

}

.content {
  background: #ccc;
}
.imgs{
  margin-top: 0;
  height: 200px;
  background: #abcdef;
}

.img-nav{
  height: 110px;
  background: #fff;
  li{
    width:20%;
    float: left;
    height: 100%;
    text-align: center;
    img{
      margin:10px auto 6px;
      display:block;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background: #abcdef;
    };
  }
}
/*about me*/

.me-login{
  margin: 0 auto;
  width: 80px;
}

/* chargeHistory */

.chargeHistory{
  div{
    min-height: 100px;
  }
  .left{
    width: 80px;
    text-align: center;
    img{
      height: 70px;
      width: 70px;
      margin: 5px;
      background: #ccc;
    }
  }
  .right{
    margin-left: 90px;
    font-size: 12px;
    ion-item{
      padding: 6px;
    }
  }
}

.flt-l{
  float:left;
}

.flt-r{
  float: right;
}

.clearfloat{zoom:1} 
.clearfloat:after{
    content:"";
    display:block;
    clear:both;
    visibility:hidden;
    height:0;
}
