<ion-view view-title="添加车辆">
    <ion-content>
      <ion-list>
        <ion-item>
          号牌类型:
          <select ng-model="carInfo.carType">
            <option value="0">小型汽车</option>
            <option value="1">大型汽车</option>
          </select>
        </ion-item>
        <ion-item class="item-divider"></ion-item>
        <ion-item class="item-icon-right">
          车型:
          <input type="text" placeholder="请选择车型" ng-model="carInfo.carMode">
          <i class="icon ion-ios-arrow-right"></i>
        </ion-item>
        <ion-item class="item-divider"></ion-item>
        <ion-item class="item-icon-right">
          车牌号码:
          <input type="text" ng-model="carInfo.licensePlateNumber">
          <!-- <i class="icon ion-ios-arrow-right"></i> -->
        </ion-item>
        <ion-item class="item-divider"></ion-item>
        <ion-item class="item-icon-right">
          发动机号:
          <input type="text" ng-model="carInfo.engineNumber">
          <i class="icon ion-ios-help-outline"></i>
        </ion-item>
        <ion-item class="item-divider"></ion-item>
        <ion-item class="item-icon-right">
          车架号码:
          <input type="text" ng-model="carInfo.chassisNumber">
          <i class="icon ion-ios-help-outline"></i>
        </ion-item>
        <button class="button button-full button-positive" ng-click="addCar();">确认</button>

      </ion-list>
    </ion-content>


</ion-view>
