 <ion-view view-title="我">
 <ion-content class="content">
        <div class="imgs">
            <div class="me-login">
                登录/注册
            </div>          
        </div>
        <ion-list>
          <ion-item class="item item-icon-left">
            <i class="icon ion-card"></i>
            我的钱包
          </ion-item>
          <ion-item class="item-icon-left">
               余额:
               代金券:
               优惠券:
          </ion-item>
          <ion-item class="item-divider"></ion-item>
          <ion-item class="item-icon-left" ui-sref="app.chargeHistory">
                <i class="icon ion-clipboard"></i>
                充电历史
          </ion-item>
          <ion-item class="item-icon-left" ui-sref="app.reChargeHistory">
                <i class="icon ion-printer"></i>
                充值历史
          </ion-item>
          <ion-item class="item-divider"></ion-item>
          <ion-item class="item-icon-left" ui-sref="app.myCar">
                <i class="icon ion-model-s"></i>
                我的爱车
          </ion-item>
          <!-- <ion-item class="item-icon-left">
                <i class="icon ion-ios-star"></i>
                我的收藏
          </ion-item>
          <ion-item class="item-icon-left">
                <i class="icon ion-chatbox-working"></i>
                我的评论
          </ion-item>
          <ion-item class="item-icon-left">
                <i class="icon ion-chatboxes"></i>
                我的社区
          </ion-item>
          <ion-item class="item-divider"></ion-item>
          <ion-item class="item-icon-left">
                <i class="icon ion-gear-b"></i>
                设置
          </ion-item> -->
        </ion-list>
       </ion-content>
     </ion-view>