<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">充值记录</h1>
    </ion-header-bar>
    <ion-content>
        <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>
        <ion-list class="chargeHistory">
          <ion-item ng-repeat-start="i in reChargeHistory">
              <ion-list>
                <ion-item>
                  充值订单号:{{i.orderid}}
                </ion-item>
                <ion-item>
                  充值订单状态:{{orderidState[i.orderidState]}}
                </ion-item>
                <ion-item>
                  充值金额:{{i.rechargeMoney}}
                </ion-item>
                <ion-item>
                  第三方充值平台的订单号:{{i.thirdPartyOrderID}}
                </ion-item>
                <ion-item>
                 充值申请时间:{{i.rechargeStartTime}}                
                </ion-item>
                <ion-item>
                  充值到账时间:{{i.rechargeArriveTime}}
                </ion-item>
              </ion-list>
          </ion-item>
          <ion-item ng-repeat-end class="item-divider" ng-if="!$last"></ion-item>
        </ion-list>
    </ion-content>
</ion-view>