<ion-view>
    <ion-nav-title side="center">
      <span ui-sref="app.chargeStationInfo({id:chargeingStationId})">电站详情</span>/<span>充电终端</span>
    </ion-nav-title>

    <ion-content>
      <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>
      <ion-list>
        <ion-item>
            空闲优先|快充优先|慢充优先|筛选
        </ion-item>
        <ion-item ng-repeat-start="i in chargePileList" ui-sref="app.chargePileInfo({id:i.rid})" class="item-icon-left item-icon-right">
          <h2><span>编号</span>{{i.terminalid}}</h2>
          <h2><span>终端类型</span>{{i.terminalType}}</h2>
          <h2><span>充电接口</span>{{i.interface}}</h2>
          <h2><span>车位号</span>{{i.parkingSpace}}</h2>
        </ion-item>
        <ion-item ng-repeat-end class="item-divider"></ion-item>
      </ion-list>
    </ion-content>
</ion-view>
